block params
//- var title
//- var hideLogo

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    if title
      title #{title} | Adrian Rocke
    else
      title Adrian Rocke

    block styles
      link(rel="stylesheet" href="./styles.css")

    block head-scripts

  body.bg-black.flex.flex-col.h-screen.font-sans.text-white
    nav.flex.p-8.items-end
      unless hideLogo
        img.logo.h-12.rounded-full.mr-4(src="./img/headshot.jpg")
        span.text-3xl.font-bold.mb-2 ADRIAN ROCKE
      div.flex-grow
      a.nav-link(href="#") HOME
      a.nav-link(href="#") ABOUT ME
      a.nav-link(href="#") MY WORK
      a.nav-link(href="#") CONTACT
    block content
      div.flex-grow
    footer.p-4.text-sm
      span Adrian Rocke © 2019 


    block body-scripts
