block params
//- var title
//- var hideLogo

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    if title
      title #{title} | Adrian Rocke
    else
      title Adrian Rocke

    block styles
      link(rel="stylesheet" href="./styles.css")

    block head-scripts

  body.bg-black.flex.flex-col.min-h-screen.font-sans.text-white
    include components/navigation.pug
    block content
      div.flex-grow
    footer.p-4.text-sm
      span Adrian Rocke © 2019 


    block body-scripts
