nav.flex.p-8.items-end
  unless hideLogo
    img.h-12.rounded-full.mr-4(src="./img/headshot.jpg")
    span.text-lg.sm_text-3xl.leading-none.font-bold.mb-2
      | ADRIAN ROCKE
  div.flex-grow.h-12
  button.nav-menu-btn
  div.nav-menu
    a.nav-link(href="#") HOME
    a.nav-link(href="#") ABOUT ME
    a.nav-link(href="#") MY WORK
    a.nav-link(href="#") CONTACT
  script.
    const menu = document.querySelector('.nav-menu')
    const menuButton = document.querySelector('.nav-menu-btn')

    menuButton.addEventListener('click', () => {
      menu.classList.toggle('show-menu')
      menu.classList.add('menu-transition')

      setTimeout(() => menu.classList.remove('menu-transition'), 500)
    })
    window.addEventListener('click', e => {
      if (e.target !== menuButton) {
        menu.classList.remove('show-menu')
        menu.classList.add('menu-transition')

        setTimeout(() => menu.classList.remove('menu-transition'), 500)
      }
    })