@tailwind preflight;

@tailwind components;

.nav-link {
  @apply
    inline-block
    mx-4 my-2
    pb-1 
    border-solid border-0 border-b-2 border-transparent
    text-white text-lg
    leading-none
    no-underline
    font-bold;
}

.nav-link:hover {
  @apply border-white;
}

@screen lg {
  .nav-link {
    @apply
      mt-4 mb-0
      w-auto;

    margin-bottom: 2px;
  }
}

@tailwind utilities;

.bg-menu {
  @apply bg-transparent;
  background-image: url('~assets/images/icons/menu.svg');
  background-position: bottom 4px right 50%;
  background-size: 1.375rem;
}

.bg-hero {
  background-image: url('~assets/images/hero.jpg');
}

.bg-darken {
  background-color: #00000080;
}

.transition-opacity {
  transition: opacity .4s;
}

.transition-opacity.opacity-0 {
  transition: opacity .4s, visibility 0s .4s;
}