@tailwind preflight;
@tailwind components;

.hero {
  background: url(./img/hero.jpg) center center;
  background-size: cover;
}

.hero-overlay {
  background-color: #00000080;
}

.nav-menu-btn {
  @apply
    mb-2
    w-10 h-10;

  background: url(./img/icons/menu.svg) no-repeat center 13px;
  background-size: 24px;
}

.nav-menu {
  @apply
    invisible opacity-0
    flex flex-col items-center justify-center
    absolute
    bg-black
    overflow-y-hidden;

  top: 88px;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-transition {
  transition: opacity .4s;
}

.menu-transition:not(.show-menu) {
  transition: opacity .4s, visibility 0s .4s;
}

.show-menu {
  @apply visible opacity-100;
}

.nav-link {
  @apply
    mx-4 my-2
    pb-1 
    border-b-2 border-transparent 
    text-white text-lg
    leading-none
    font-bold
    no-underline;

}

.nav-link:hover {
  @apply border-white;
}

@screen sm {
  .nav-menu {
    @apply flex-row pb-6;

    bottom: unset;
  }

  .nav-link {
    @apply
      mt-4 mb-0
  }
}

@screen lg {
  .nav-menu-btn {
    @apply hidden;
  }

  .nav-menu {
    @apply visible opacity-100 pb-0 relative pin-none max-h-full
      mb-0 pb-0;
  }

  .nav-link {
    @apply
      w-auto;

    margin-bottom: 2px;
  }
}

@tailwind utilities;