extends /layouts/base.pug

block content
  div.hero.flex-grow.flex.flex-col
    div.hero-overlay.flex-grow.flex.flex-col.items-center.justify-center.pb-10.h-full
      div.flex.items-center.flex-col.sm_flex-row
        img.rounded-full.sm_mr-6.lg_mr-8.w-24.h-24.sm_w-32.sm_h-32.lg_w-48.lg_h-48(src="./img/headshot.jpg")
        h1.text-5xl.sm_text-6xl.md_text-7xl.lg_text-8xl Adrian Rocke
      div.mt-8
        p.text-center.text-lg.hover_text-white
          | I need a more creative tagline...
      a.mt-8.border-white.border-4.rounded-lg.p-4.no-underline.text-white.font-bold(href="#") LET'S TALK

append footer
  span.flex-grow
  span Photo by Dmitry Chernyshov