@each $dim in $margins {
  .m-#{$dim} {
    margin: #{$dim}px;
  }
}

@each $dim in $margins {
  .mx-#{$dim} {
    margin-left: #{$dim}px;
    margin-right: #{$dim}px;
  }

  .my-#{$dim} {
    margin-top: #{$dim}px;
    margin-bottom: #{$dim}px;
  }
}

@each $dim in $margins {
  .mt-#{$dim} {
    margin-top: #{$dim}px;
  }

  .mr-#{$dim} {
    margin-right: #{$dim}px;
  }

  .mb-#{$dim} {
    margin-bottom: #{$dim}px;
  }

  .ml-#{$dim} {
    margin-left: #{$dim}px;
  }
}

@each $dim in $paddings {
  .p-#{$dim} {
    padding: #{$dim}px;
  }
}

@each $dim in $paddings {
  .px-#{$dim} {
    padding-left: #{$dim}px;
    padding-right: #{$dim}px;
  }

  .py-#{$dim} {
    padding-top: #{$dim}px;
    padding-bottom: #{$dim}px;
  }
}

@each $dim in $paddings {
  .pt-#{$dim} {
    padding-top: #{$dim}px;
  }

  .pr-#{$dim} {
    padding-right: #{$dim}px;
  }

  .pb-#{$dim} {
    padding-bottom: #{$dim}px;
  }

  .pl-#{$dim} {
    padding-left: #{$dim}px;
  }
}
