$black: (black #22292F);
$white: (white #FFFFFF);

$bg-colors: $black $white;
$text-colors: $black $white;

$margins: 0 2 4 8 16 24 32;
$paddings: 0 2 4 8 16 24 32;

$screen-sizes: (sm 576px)
               (md 768px)
               (lg 992px)
               (xl 1200px)
